@model InventoryPro.VO.clsUser

@{
    Layout = null;
    ViewBag.Title = "Sign In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sign In | InventoryPro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <!-- Left Side: Info -->
            <div class="login-left">
                <img src="~/Content/Images/img.svg" alt="Inventory" class="info-image" />
                <h2>Welcome to InventoryPro</h2>
                <p>Streamline your inventory management with our powerful and intuitive platform. Track, manage, and optimize your stock with ease.</p>
                <div class="features">
                    <span><i class="fa fa-line-chart" aria-hidden="true"></i> Real-time Analytics</span>
                    <span><i class="fa fa-bell-o" aria-hidden="true"></i> Smart Alerts</span>
                </div>
            </div>

            <!-- Right Side: Form -->
            <div class="login-right">
                <h3>Log In</h3>
                <p class="subtext">Enter your credentials to access your account</p>

                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, "Username", new { @class = "form-label" })
                        <div class="input-icon-wrapper">
                            <i class="fa fa-user"></i>
                            @Html.TextBox("username", null, new { @class = "form-control", placeholder = "Enter your UserName" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PasswordHash, "Password", new { @class = "form-label" })
                        <div class="input-icon-wrapper">
                            <i class="fa fa-lock"></i>
                            <input type="password" name="password" class="form-control" placeholder="Enter your password" />
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Role, "Role", new { @class = "form-label" })
                        <div class="input-icon-wrapper">
                            <i class="fa fa-user-plus"></i>
                            @Html.TextBox("role", null, new { @class = "form-control", placeholder = "Enter your role" })
                        </div>
                        
                    </div>

                    <div class="form-group remember">
                        <input type="checkbox" id="remember" />
                        <label for="remember">Remember me</label>
                    </div>

                    <button type="submit" class="btn-login">Log In</button>


                    <div class="signup-link">
                        Don't have an account? <a href="@Url.Action("Register", "User")">Register</a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
