@model InventoryPro.VO.clsUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

<div class="d-flex justify-content-center text-decoration-underline">
    <h2>Login</h2>
</div>

<div class="Main">

    <div class="Image">
        <img src="~/Content/Images/11785899_4826433.svg" alt="Login Image" class="img-fluid" />
    </div>
    <div class="Second">
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <h5 class="text-center mb-4">Login to Your Account</h5>

            <div class="d-grid gap-1">
                @Html.LabelFor(model => model.Username, "UserName")
                @Html.TextBox("username", null, new { @class = "form-control" })
            </div>

            <div class="d-grid gap-1">
                @Html.LabelFor(model => model.PasswordHash, "Password")
                @Html.Password("password", new { @class = "form-control"})
            </div>

            <div class="d-grid gap-3">
                @Html.LabelFor(model => model.Role, "Role")
                @Html.TextBox("role", null, new { @class = "form-control" })

                <button type="submit" class="btn btn-primary">Login</button>
            </div>



        <p>
            Don't have an account? <a href="@Url.Action("Register", "User")">Register here</a>
        </p>
        }
    </div>
</div>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-image: linear-gradient(#d16ba5, #86a8e7, #5ffbf1);
    }

    .Main {
        display: flex;
        flex-direction: row;
        padding: 10px;
        
    }

    .Image {
        margin-top: -4rem;
        height: 100%;
        width: 100%;
    }

    .Second {
        padding: 50px;
        width: 50%;
        height: 50%;
        background-color: aliceblue;
        border-radius: 25px;
    }
</style>
